<!-- ==============================================
FEATURES
=============================================== -->
<section id="about" class="white-bg padding-top-bottom">

    <div class="container features">

        <h1 class="section-title">{{ cms.about.heading }}</h1>
        <p class="section-description">{{ cms.about.intro }}</p>

        {{ cms.about.html|safe }}

        <p class="section-description"> <a class="btn btn-qubico scrollto" href="#contact">Talk To Us</a></p>

</div>

</section>
