<!-- ==============================================
PORTFOLIO
=============================================== -->
<section id="portfolio" class="gray-bg padding-top-bottom">

    <div class="container">

        <h1 class="section-title">{{ cms.portfolio.heading }}</h1>
        <p class="section-description">{{ cms.portfolio.intro }}</p>

        <!--==== Portfolio Filters ====-->

        <div id="filter-works">



            <ul>
                <li class="active">
                    <a href="#" data-filter="*">All Categories</a>
                </li>
                {% for category in cms.projectcategories %}
                <li>

                    <a href="#" data-filter=".{{ category.identifier }}">{{ category.name }}</a>

                </li>
                {% endfor %}

            </ul>

        </div><!--End portfolio filters -->

        <div class="projects-container scrollimation">            


            <div class="row">

                {% for relation in cms.portfolio.projects %}

                <!-- ==============================================
                SINGLE PROJECT ITEM
                =============================================== -->

                <article class="col-md-4 col-sm-6 project-item {% for row in relation.categories %} {{ row.identifier }} {% endfor %}">

                    <!--==== Project Thumbnail & Title ====-->

                    <div class="project-thumb">
                        <a href="#" class="main-link">
                            {% for image in relation.images %}
                            {% if loop.first%}
                            <img class="img-responsive img-center" src="{{ image|imageSize(400, 300) }}" alt="{{ image.caption }}" />
                            {% endif %}
                            {% endfor %}
                            <h2 class="project-title">{{ relation.name }}</h2>
                            <span class="overlay-mask"></span>
                        </a>
                        <!--{% for image in relation.images %}
                        {% if loop.first%}
                        <a class="enlarge centered" href="{{ image.url }}" title="{{ image.caption }}"><i class="fa fa-expand fa-fw"></i></a>
                        {% endif %}
                        {% endfor %}-->
                        <a class="link" href="#"><i class="fa fa-eye fa-fw"></i></a>


                    </div><!-- End Thumbnail -->
                    <!--==== Project Preview Content ====-->

                    <div class="preview-content" data-images="{% for image in relation.images %} {{ image|imageSize(645, 430) }} {% if not loop.last %},{% endif %} {% endfor %}">

                        <p class="preview-subtitle">{{ relation.Subtitle }}</p>

                        {{ relation.description|safe }}

                    </div><!-- End Project Preview -->

                </article>
                <!-- ==============================================
                END PROJECT ITEM
                =============================================== -->

                {% endfor %}

            </div><!-- End Row -->

        </div><!-- End Projects Container -->



    </div><!-- End container -->
    <!--==== Project Preview Panel (DO NOT REMOVE)====-->

    <div id="preview-scroll"></div>

    <div id="project-preview">

        <div class="container">

            <div class="preview-header text-center">
                <a class="close-preview" href="#">&times;</a>
                <h1 class="preview-title"></h1>
                <p class="preview-subtitle"></p>
            </div>

            <div class="imac-frame">

                <img class="img-responsive img-center" src="/static/assets/imac.png" alt="" />
                <span class="loader"></span>
                <div class="imac-screen imac-slider flexslider"></div>

            </div>

            <div class="row">
                <div id="preview-content" class="col-sm-10 col-sm-offset-1"></div>
            </div>

            <div class="preview-footer text-center">
                <a class="close-preview" href="#">&times;</a>
            </div>


        </div><!--End container -->

    </div><!--End #project-preview panel-->

    <p class="section-description"> <a class="btn btn-qubico scrollto" href="#contact">Talk To Us</a></p>

</section>