
{% extends "templates/partials/articles.html" %}

{% block articles %}

    {# The first thing we do is call articlecategories data from the CMS. #}
    {% set articles = cms.articles %}

    {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
    {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
    {% set articles = articles|sort('publish_date', true) %}

    {# This is how you set pagination. It's always important to do this after your sort. #}
    {% set articles = paginate(articles, 5) %}

{% endblock %}